<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">coupon_id</span>
    <input type="text" ng-model="coupons['coupon_id']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">photo_link</span>
    <input type="text" ng-model="coupons['photo_link']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">deal_text</span>
    <input type="text" ng-model="coupons['deal_text']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">deal_text</span>
    <input type="text" ng-model="coupons['deal_text']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">business_id</span>
    <input type="text" ng-model="coupons['business_id']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">qr_link</span>
    <input type="text" ng-model="coupons['qr_link']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">start_of_deal</span>
    <input type="text" ng-model="coupons['start_of_deal']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">end_of_deal</span>
    <input type="text" ng-model="coupons['end_of_deal']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
