<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Coupons Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div  ng-hide="showSpinner">
    <ul class="list" ng-hide="couponss.length == 0">

      <super-navigate location="coupons#show" data-params-id="{{ coupons.id }}" ng-repeat="coupons in couponss">
        <li class="item item-icon-right coupons-list-box">
	  <p>
	    <div class="coupons-list-image">
              <img ng-src="{{coupons['photo_link']}}">
	    </div>
	    {{coupons['deal_text']}}
	    {{coupons['start_of_deal']}}
	   
	  </p>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="couponss.length == 0" class="assertive padding">
      No couponss found. Create one?
    </h4>

    <super-modal-show location="coupons#new">
      <button class="button button-full button-positive">
        Create a new coupons
      </button>
    </super-modal-show>
  </div>
</div>
