<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div>
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

      <div class="coupons-image-header">
        <img ng-src="{{coupons['photo_link']}}">
      </div>

      <div class="padding">

       <h1><span ng-bind="coupons['deal_text']"></span></h1>

<!--        <p>photo_link: <span ng-bind="coupons['photo_link']"></span></p>
 -->      
       <p><span ng-bind="coupons['deal_text']"></span></p> 
            
      
       <p>Start Date: <span ng-bind="coupons['start_of_deal']"></span></p> 
      
       <p>End Date: <span ng-bind="coupons['end_of_deal']"></span></p> 

       <p>QR Code: <span ng-bind="coupons['qr_link']"></span></p> 

     </div>


      <super-modal-show location="coupons#edit?id={{ coupons.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(coupons.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
