.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.business-image-header{
  width: 100%
}

.business-image-header img{
  width: 100%
}

.coupons-list-box {
    background-color: blue;
    color: #FFF;
}

.coupons-list-image {
    width: 40px;
}

.coupons-image-header{
  width: 100%
}

.coupons-image-header img{
  width: 100%
}

