.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.business-image-header{
  width: 100%
}

.business-image-header img{
  width: 100%
}

.coupons-image-header{
  width: 100%
}

.coupons-image-header img{
  width: 100%
}

