<div>

    <div id="coupon-page">



        <div ng-if="waiting">
           <h3>Waiting for server
           </h3>
           <span class="glyphicon glyphicon-refresh spin"></span>


        </div>

        <div ng-if="error">
            <div class="container">
                <div class="alert alert-danger">
                    <strong>Error</strong> We are having server problems :( sorry!
                </div>
            </div>
        </div>
        <div ng-if="!waiting && !error" class="coupon-scroll-area">
            <div class="business-card " ng-repeat="business in businesses">
                <a class="row" ng-href="/#businesses/{{business.id}}" ng-click = "goTo(business.id)">
                    <div ng-if="business.photo_link" class="col-xs-4">
                        <img ng-src={{business.photo_link}}>
                    </div>
                    <div ng-if="!business.photo_link" class="col-xs-4">
                        <img src="./assets/money-flat.png">
                    </div>
                    <div class="col-xs-8">
                        <h3>
                            {{business.name}}
                        </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
