$grey-background: #f1f1f1;
$ios-theme-color: #00B5FF;


.view-frame{
    height: 100%;
    background-color: $grey-background;
}

.spin{
     -webkit-transform-origin: 50% 58%;
     transform-origin:50% 58%;
     -ms-transform-origin:50% 58%; /* IE 9 */
     -webkit-animation: spin .2s infinite linear;
     -moz-animation: spin .2s infinite linear;
     animation: spin .2s infinite linear;
}

#top-{
    text-align: center;
    height: 53px;
    position: fixed;
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
}




.clips-navbar {
    background-color: $grey-background;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .glyphicon{
        padding-top: 8px;
        display: block;
        text-align: center;
    }

    li {
        float: left;
        width: 33.3333333%;
        a{
            display: block;
            text-align: center;
            padding: 16px;
            text-decoration: none;
            color: black;
            padding-top: 3px;
            padding-bottom: 8px;
        }
    }

    li.active {
        background-color: $ios-theme-color;
        .glyphicon{
          color: white;
        }
        a{
            color: white;
        }
    }
}

#coupon-search-bar{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.qr-code{
    width: 50%;
    height: 50%;
}

.coupon-card{
    margin: 10px 10px;
    background-color: #fff;
    img {
        width: 80px;
        height: 80px;
        border-radius: 52px;
        overflow: hidden;
        margin-top: 7px;
    }

    .row{
      margin-right: 0;
      margin-left: 0;
    }

    .first-col{
      padding-right: 0px
    }

    .last-col{
      padding-right:0px;
    }

    .btn-in-col{
      width: 100%
    }

    .card-button-col{
      padding-top: 5px;
      margin-right: 5px;
    }

    hr{
      margin-top: 15px;
      margin-bottom: 15px
    }
}

.cards-header{
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
}

.business-card{
    margin: 10px 10px;
    background-color: #fff;
    img {
        width: 80px;
        height: 80px;
        border-radius: 52px;
        overflow: hidden;
        margin-top: 7px;
    }
}

// deal with supersonic styling
.row{
    margin: 0
}
.coupon-scroll-area{
    background-color: $grey-background;
    padding-top: 1px;
    padding-bottom: 50px;
    height: 100%
}


.detail-page{

    .content{
        padding-top: 10px;
    }

    #header-image{
        width: 100%;
    }

    .button-row{
        .btn{
            width: 100%
        }
    }

    .row{
        margin-left: 2px
    }
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
