<div class = 'coupon-detail-page detail-page'>
    <div class="content container">
        <div class="billboard">
            <div ng-if="coupon.photo_link" class="col-sm-2">
                <img ng-src="{{coupon.photo_link}}" id="header-image">
            </div>
        </div>
        <div class="col-sm-10">
            <h4>
                {{coupon.deal_text}}
            </h4>
            <h5>
                {{coupon.name}}
            </h5>
            <p>
                {{coupon.start_of_deal}} - {{coupon.end_of_deal}}
            </p>
        </div>
        <div class="row button-row">
            <div class="col-xs-6">
                <button ng-if = "!showQR" class="btn btn-primary" ng-click= "showCode()">
                    Redeem
                </button>
                <button ng-if = "showQR" class="btn btn-success" ng-click= "hideCode()">
                    Done
                </button>
            </div>
            <div class="col-xs-6">
                <button ng-if="!saved && !processing" class="btn btn-primary" ng-click="saveCoupon()">
                    Save for Later
                </button>
                <button ng-if="saved && !processing" class="btn btn-danger" ng-click="removeCoupon()">
                    Un-Save
                </button>
                <button ng-if="processing" class='btn btn-primary disabled'>
                  <span class="glyphicon glyphicon-refresh spin"></span>
                </button>

            </div>
        </div>
        <div ng-if= "showQR">
            <img src="./assets/qrcode.png" class="qr-code">
        </div>


        <div class="bs-callout bs-callout-success" ng-if="saved">

          <h4>
            <span class="glyphicon glyphicon-check"></span>
            This coupon is saved to your account.
          </h4>
        </div>

        <div class="bs-callout bs-callout-danger" ng-if="error">

          <h4>
            <span class="glyphicon glyphicon-remove-circle"></span>
            Error
          </h4>
          <p>
            {{error}}
          </p>
        </div>
    </div>
</div>
</body>
