<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>Clips</title></title>

  <link rel="stylesheet" href="/components/supersonic/css/supersonic.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">

  <link rel="import" href="/components/supersonic/components/import.html">

  <!--Third party dependenceis-->
  <script src="http://localhost/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/components/angular/angular.js"></script>
  <script src="/components/supersonic/supersonic.js"></script>
  <script src="/components/webcomponentsjs/webcomponents-lite.js"></script>
  <script src="/components/angular-route/angular-route.js"></script>
  <script src="/components/leaflet/dist/leaflet.js"></script>
  <script src="/components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
  <script src="/components/angular-resource/angular-resource.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />

  <!--our code-->
  <script src="/app/app.module.js"></script>
  <script src="/app/app.config.js"></script>
  <script src="/app/app.controller.js"></script>
  <script src="/app/services/app.services.js"></script>
  <script src="/app/coupons/coupons.controller.js"></script>
  <script src="/app/coupons/couponsDetail.controller.js"></script>
  <script src="/app/businesses/businesses.controller.js"></script>
  <script src="/app/account/account.controller.js"></script>
  <script src="/app/businesses/businessesDetails.controller.js"></script>

</head>
<body ng-app="clips">
<div ng-controller="AppController">

  <super-navbar>
    <super-navbar-button ng-bind='backText' ng-click="goBack()">
    </super-navbar-button>
    <super-navbar-title ng-bind="tabs[activeTabIndex].text">
    </super-navbar-title>
  </super-navbar>


  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>


  <nav class="navbar-fixed-bottom">
    <div class="clips-navbar">
      <ul>
        <li ng-repeat="tab in tabs" class={{tab.class}}>
          <span class={{tab.glyph}}></span>
          <a href={{tab.link}} ng-click="changeTabs(tab.index)" >
            {{tab.text}}
          </a>
        </li>
      </ul>

    </div>
  </nav>
</div>


</body>
</html>
