<div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Business Index
    </super-navbar-title>
  </super-navbar>

  <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner">
    <ul class="list" ng-hide="businesss.length == 0">

      <super-navigate location="business#show" data-params-id="{{ business.id }}" ng-repeat="business in businesss">
        <li class="item item-icon-right">
          <span ng-bind="business['ID']"></span>
          <i class="icon super-ios-arrow-right"></i>
        </li>
      </super-navigate>

    </ul>

    <h4 ng-show="businesss.length == 0" class="assertive padding">
      No businesss found. Create one?
    </h4>

    <super-modal-show location="business#new">
      <button class="button button-full button-positive">
        Create a new business
      </button>
    </super-modal-show>
  </div>
</div>
