<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div >
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

       <div class="business-image-header">
         <img ng-src="{{business['photo_link']}}">
       </div>

       <div class="padding">
         <h1><span ng-bind="business['name']"></span></h1>

         <p>
           ID: {{business.id}}
         </p>


         <p><span ng-bind="business['address']"></span></p>

         <p><span ng-bind="business['phone_number']"></span></p>

         <p><span ng-bind="business['hours']"></span></p>

         <p><span ng-bind="business['website']"></span></p>
       </div>

       <div>
         {{coupons}}
       </div>






    </div>
  </div>
</div>
