<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div >
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

       <div class="business-image-header">
         <img ng-src="{{business['photo_link']}}">
       </div>

       <div class="padding">
         <h1><span ng-bind="business['name']"></span></h1>

         <p>Address: <span ng-bind="business['address']"></span></p>

         <p>Phone Number: <span ng-bind="business['phone_number']"></span></p>

         <p>Hours: <span ng-bind="business['hours']"></span></p>

         <p>Website: <span ng-bind="business['website']"></span></p>
       </div>

       <div>
         {{coupons}}
       </div>





      <super-modal-show location="business#edit?id={{ business.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(business.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
