<div id="account-page">
    <div>
      <h2 class='cards-header'>
        Your Saved Coupons
      </h2>

    </div>
    <div ng-if = "error">
      {{error}}
    </div>
    <div ng-if="savedCoupons.length ==0">
      <div class="bs-callout bs-callout-info">
        <h4>
          Hey!
        </h4>
        <p>
          You haven't saved any coupons yet. When you do, they'll appear here.
        </p>
      </div>
    </div>
    <div ng-if="!waiting && !error" class="coupon-scroll-area">
        <div class="coupon-card " ng-repeat="coupon in savedCoupons">
            <div class="row" >
                <div ng-if="coupon.photo_link" class="col-xs-4 first-col">
                    <img ng-src={{coupon.photo_link}}>
                </div>
                <div ng-if="!coupon.photo_link" class="col-xs-4 first-col">
                    <img src="./assets/money-flat.png">
                </div>
                <div class="col-xs-8">
                    <h4>
                        {{coupon.deal_text}}
                    </h4>
                    <h5>
                        {{coupon.name}}
                    </h5>
                    <p>
                        {{coupon.start_of_deal}} - {{coupon.end_of_deal}}
                    </p>
                </div>
                <div class='col-xs-3 last-col card-button-col'>
                  <button ng-if='!deleting' class='btn btn-danger btn-in-col' ng-click="removeCoupon(coupon.id, coupon.index)">
                    Remove
                  </button>
                  <hr/>
                  <a ng-if='!deleting' class='btn btn-primary btn-in-col' ng-href="/#coupons/{{coupon.id}}" ng-click = "goTo(coupon.id)">
                    View
                  </a>

                  <span ng-if="deleting" class="glyphicon glyphicon-refresh spin"></span>
                </div>
            </div>
        </div>
    </div>
</div>
